
<div class="mapEntityWrapper">
    <mat-card class="entity-card">
        <mat-card-title>Create Map Entity</mat-card-title>
        <form class="entity-form" [formGroup]="mapEntityForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
            <mat-form-field appearance="standard">
                <mat-label>Entity Title</mat-label>
                <input type="text" matInput formControlName="title">
                <mat-error *ngIf="title?.invalid && (title?.dirty || title?.touched)" color="warn">
                    <div *ngIf="title?.errors?.['required']">
                        Title is required.
                    </div>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="standard">
                <mat-label>Entity X Position</mat-label>
                <input type="number" matInput formControlName="xPosition">
                <mat-error *ngIf="xPosition?.invalid && (xPosition?.dirty || xPosition?.touched)" color="warn">
                    <div *ngIf="xPosition?.errors?.['required']">
                        X Position is required.
                    </div>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field  appearance="standard">
                <mat-label>Entity Y Position</mat-label>
                <input type="number" matInput formControlName="yPosition">
                <mat-error *ngIf="yPosition?.invalid && (yPosition?.dirty || yPosition?.touched)" color="warn">
                    <div *ngIf="yPosition?.errors?.['required']">
                        Y Position is required.
                    </div>
                </mat-error>
            </mat-form-field>
            <input type="number" hidden formControlName="mapWidth">
            <input type="mapHeight" hidden formControlName="yPosition">
            <br>
            <button class="createButton" mat-raised-button color="primary" [disabled]="!mapEntityForm.valid">Create</button>
        </form>
    </mat-card>
    
    <mat-card class="map-card">
        <div class="imageDiv" #imageDiv [ngStyle]="{'background-image': 'url(' + missionMap + ')'}">
            <div *ngIf="(mapEntityForm.controls['yPosition'].value > 0 && mapEntityForm.controls['xPosition'].value > 0)" 
            [style.top.px]="mapEntityForm.controls['xPosition'].value - 16" 
            [style.left.px]="mapEntityForm.controls['yPosition'].value - 16" 
            class="target"></div>
        </div>
    </mat-card>
</div>


