.mapEntityWrapper{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.entity-card {
    margin-top: 10px;
    width: 200px;
    height: 300px;
    padding: 10px;

}

.map-card {
    margin-top: 10px;
    width: 75%;
    padding: 10px;
    min-width: 800px;
}

.imageDiv{
    height: 600px;
    width: 100%;
    cursor: crosshair;
    background-size: 100% 100%;
}

.entity-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.createButton{
    width: 100%;
}

.target{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(128, 0, 128, 0.4);
    position: relative;
    pointer-events: none;
}